.react-calendar__navigation__label{
    color: black;
}
.react-calendar__navigation__arrow{
    color: black;
}
.react-calendar__navigation__prev2-button{
    color: black;
}
.react-calendar__month-view__days__day{
    color: black;
}
.react-calendar__month-view__days__day--weekend {
    color: red;
}
.react-calendar__month-view__days__day--neighboringMonth {
    color: gray
}
.react-calendar__tile--now:not(.react-calendar__tile--hasActive) {
    color: blue;
}
